@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
html,body {
    width: 100%;
    background-image:url('assets/background.gif') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* * {
    outline: 1px solid red !important;
    
} */

h1 {
   color: #601c8d;
   text-align: center;
   font-family: "Rubik Bubbles", system-ui;
   font-weight: 400;
   font-style: normal;
   text-shadow: 2px 2px 3px wheat;
   justify-content: center;
   width: 100%;
   margin: 15px 0 0 0;
   padding: 0;
   
}
nav {
    background-color: rgba(99, 35, 141, 0.8);
    padding: 10px 0;
    width: 100%; 
    backdrop-filter: blur(2px);
    position:relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0 20px 0 20px;
    width: 100%;  
    flex-wrap: wrap;        
}
nav a {
    text-align: center;
    margin: 0;
    min-width: 80px;
    flex: 1 1 auto;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.3s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parent-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 20px;
    width: 90%;
    position: relative;
}
.cats-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding:15px;
    border: 3px solid #8067b9;
    border-radius: 12px;
    background-color: rgba(128,103,185,0.2);
    margin-bottom: 0 0 0 15px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}
.cat-pics {
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
}
.cat-description{
    flex: 1 1 300px;
    text-align: center;
    min-width: 0;
    font-size: 0.8rem;
    color: white;
    border: 2px solid white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    position: relative;
    width: 100%;
    margin: 0;
}
p {
    color: #392864;
    text-align: justify;
    text-indent: 20px;
    line-height:19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 12pt;
    font-style: oblique;
    font-family: "Bubblegum Sans";
    font-weight: 500;
}
